---
title: Redirects
---

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

<h1>{{ title }}</h1>
<p>Alle eingerichteten Kurzlinks:</p>
<p><small>Last generated: {{ links.generated }}</small></p>

<table class="table">
  <thead>
    <tr>
      <th>status</th>
      <th>type</th>
      <th>to</th>
      <th>from</th>
      <th>Test</th>
    </tr>
  </thead>
  <tbody>
    {% for r in links.targets %}
      <tr>
        <td>
          {% if r.status == 'active' %}
            <span class="badge bg-success">active</span>
          {% elif r.status == 'created' %}
            <span class="badge bg-secondary">created</span>
          {% elif r.status == 'inactive' %}
            <span class="badge bg-danger">inactive</span>
          {% else %}
            <span class="badge bg-warning text-dark">{{ r.status }}</span>
          {% endif %}
        </td>
        <td>{{r.type}}</td>
        <td><a href="{{ r.to }}" target="_blank" rel="noopener">{{ r.to }}</a></td>
        <td><code>{{links.domain}}{{ r.from }}</code></td>
        <td><a href="{{ r.from }}" target="_blank" rel="noopener">👉 Test</a></td>
      </tr>
    {% endfor %}
  </tbody>
</table>
